@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#ffbf00">
    @if (ViewBag.User == "User")
    {
        <h1>RMovies</h1>
    }
    else
    {
        <h1>Admin</h1>
    }
 
    <p class="lead">Rent your favorite movie</p>
    </div>
@if (ViewBag.User == "User")
{
    <div class="row">
        <div class="col-md-4" style="margin-left:10px; border-radius:10px; background-color:#ffbf00"; >
            <h2>Available Movies</h2>
            <p>
                choose your favorite Movie
            </p>
            <p>@Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "btn btn-default" })</p>
        </div>
    
    </div>
}
else
{
    <div class="row">
       
        <div class="col-md-4" style="width:300px; margin-left:10px; border-radius:10px; background-color:#ffbf00" ;>
            <h2>Customers</h2>
            <p>
               All customers
            </p>
            <p>@Html.ActionLink("Customers", "Index", "Customers",null,new {@class="btn btn-default"})</p>
        </div>
        <div class="col-md-4" style="width:300px; margin-left:10px; border-radius:10px; background-color:#ffbf00" ;>
            <h2>Movies</h2>
            <p>
                Available movies
            </p>
            <p>@Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4" style="width:300px; margin-left:10px; border-radius:10px; background-color:#ffbf00" ;>
            <h2>New Rental</h2>
            <p>
                Cutomer rents movies
            </p>
            <p>@Html.ActionLink("New Rental", "CreateNewRental", "NewRental", null, new { @class = "btn btn-default" })</p>
        </div>
    </div>
}
